<%- include('partials/header.ejs') %>
    
    <%- include('partials/navigation.ejs') %>

    <main class="double-flex login-page" style="margin-top: 7rem;">
        <div class="option">
            <h2>User</h2>
        </div>
        <div class="history-container">

        <div class="option" style="margin-top: 3rem; margin-bottom: 3rem;">
            <h3>Result:</h3>
        </div> 
        <% User.forEach(function(Users) { %>
            <div class="history_">
                <img src="/image/<%= Users.profile_picture %>" alt="image" class="blog-img" width="120" height="120"style="border-radius: 2rem; margin-bottom: 1rem;">
                <div class="blog-body-history">
                    <div class="blog-text">
                        <a class="post-time">
                            <%= Users.name %> 
                            · <%= Users.register_date.toDateString() %></a>
                        <a class="blog-title">
                            <%= Users.nickname %></a>
                        <p class="content" style="text-align: justify;"><%= Users.gender %></p>
                    </div>
                    <div class="blog-tags" style="margin-top: 1rem;">
                        <p class="Timezone">UT<%= Users.timezone %></p>
                    </div>
                </div> 
            </div>
        <% }) %>
        </div>

    </main>

<%- include('partials/footer.ejs') %>
